*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../public/fonts/Inter-Regular.woff2") format("woff2"),
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE;
}

.cost-input{
  position: relative;
}

.customInput{
  background-color: #ffffff;
  border-radius: 10px;
  height: 59px;
  position: relative;
  width: 145px;
  outline:none;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Inter-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  overflow: hidden;
}


.placeholder{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  color: #b0afaf;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  transition: top .3s ease, font-size .3s ease, left .3s ease;
}

.placeholderUp{
  top: -2px;
  left: 66px;
  font-size: 14px;
}

input{
  color: #000000;
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
}

::placeholder {
  color: #b0afaf;
}